<h1>Welcome to the Dashboard</h1>

<script>
  "use strict";
  class Greeter {
      greet(name) {
          console.log('Hi, ${name}');
      }
  }
  const greeter = new Greeter();
  greeter.greet('Jim'); // Hi, Jim
</script>
